<launch>
  <node pkg="lsm9ds0" type="lsm9ds0_node.py" name="lsm9ds0_node" output="screen">
    <param name="~gpio_int_pin_num" value="17"/>
    <param name="~i2c_bus_num" value="1"/>
    <param name="~calibrate_gyro" value="false"/>
    <param name="~compute_covariance" value="true"/>
  </node>
</launch>
